<div class="content">
  <h3>Hello {{ korisnik.username }}</h3>
  <h3>Name</h3>
  <p>{{ korisnik.username }}</p>
  <hr />
  <h4>Email</h4>
  <p>{{ korisnik.email }}</p>
  <hr />
  <h5>Dozvola</h5>
  <!-- <p>{{ korisnickaDozvola.dozvola.naziv }}</p> -->
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/profil', korisnik.id]"
    routerLinkActive="router-link-active" 
  >
    Edit profile 
  </button>
  <br />
  <!-- Only if ROLE_STUDENT -->
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/profil', korisnik.id, 'student-panel']"
    routerLinkActive="router-link-active"
  >
    Studentski panel 
  </button>
</div>
