<div class="main">
  <div class="content">
    <div class="content-title">
      <h2 class="mat-title">Naziv univerziteta : {{ univerzitetPodaci.naziv }}</h2>
    </div>
    <div class="description">
      <div class="description-desc">
        <p>
          Datum osnivanja univerziteta : {{ univerzitetPodaci.datumOsnivanja | date  }}
        </p>
        <br />
        <p>
          {{ univerzitetPodaci.opis }}
        </p>
        <br />
        <h2>Email univerziteta:</h2>
        <ul *ngFor="let email of univerzitetPodaci.emailUniverziteta">
          <li>
            {{ email.email }}
          </li>
        </ul>
        <br />
        <h2>Telefon univerziteta:</h2>
        <ul *ngFor="let telefon of univerzitetPodaci.telefonUniverziteta">
          <li>
            {{ telefon.telefon }}
          </li>
        </ul>
        <br />
        <a
          [routerLink]="['/fakulteti']"
          routerLinkActive="router-link-active"
          ><button mat-flat-button color="warn">Fakulteti</button></a
        >
      </div>
      <div class="description-mapbox">
        <img
          src="assets/img/mapa.png"
          alt="Mapa univerziteta"
          height="400"
          width="600px"
        />
      </div>
    </div>
  </div>
</div>
