.main {
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 100%;
  align-items: center;
  background-color: lightgrey;
  border-radius: 20px;
}

.mat-title {
  font-weight: bold;
  letter-spacing: 5px;
  padding: 20px;
  border-bottom: 2px solid black;
}

.content-title {
  text-transform: uppercase;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 600px;

  text-align: center;
}

a button {
  text-decoration: none;
  color: white;
  font-style: italic;
  padding: 0px 30px;

  text-transform: inherit;
}

.description-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 45%;
  height: 90%;

  font-size: 20px;
  text-transform: uppercase;
}

.description-desc .opis {
  padding: 10px;
  border-bottom: 1px solid black;
  font-weight: 500;
}

.description-mapbox {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: 45%;
  height: 90%;

  padding: 20px;
}

.description-mapbox .mapbox-header {
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px;
  border-bottom: 1px solid lightslategray;
}

.description-mapbox img {
  border: 2px solid rgb(15, 32, 124);
}

app-map-mapbox {
  width: 100%;
  height: 100%;
}
