<div class="main">
  <div class="content">
    <div class="content-title">
      <h2 class="mat-title">
        {{ univerzitetPodaci.naziv }}
      </h2>
    </div>
    <div class="description">
      <div class="description-desc">
        <p>
          Datum osnivanja univerziteta :
          {{ univerzitetPodaci.datumOsnivanja | date }}
        </p>
        <br />
        <p class="opis">
          {{ univerzitetPodaci.opis }}
        </p>
        <br />
        <h2>Email univerziteta:</h2>
        <ul *ngFor="let email of emailUniverziteta">
          <li>
            {{ email.email }}
          </li>
        </ul>
        <br />
        <h2>Telefoni univerziteta:</h2>
        <ul *ngFor="let telefon of telefonUniverziteta">
          <li>
            {{ telefon.telefon }}
          </li>
        </ul>
        <br />
        <div>
          <h2>Rektorat</h2>
          <p>Ime rektora: {{ univerzitetPodaci.rektor.licniPodaci.ime }}</p>
          <p>
            Prezime rektora: {{ univerzitetPodaci.rektor.licniPodaci.prezime }}
          </p>
          <img
            [src]="univerzitetPodaci.rektor.licniPodaci.putanjaProfilneSlike"
            alt="profilna slika rektora"
          />
        </div>
        <a [routerLink]="['/fakulteti']" routerLinkActive="router-link-active"
          ><button mat-flat-button color="warn">Fakulteti</button></a
        >
      </div>
      <div class="description-mapbox">
        <h4 class="mapbox-header">Lokacija univerziteta</h4>
        <app-map-mapbox></app-map-mapbox>
      </div>
    </div>
  </div>
</div>
