<div class="main">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Unesite korisnicko ime</mat-label>
      <input matInput [(ngModel)]="korisnik.username" required />
      <!-- <mat-error *ngIf="korisnickoIme.invalid">{{
        getErrorMessage()
      }}</mat-error>   FIXME: Validation check -->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Unesite lozinku</mat-label>
      <input matInput [(ngModel)]="korisnik.lozinka" required />
      <!-- <mat-error *ngIf="lozinka.invalid">{{ getErrorMessage() }}</mat-error> FIXME: Validation check -->
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">
      Log In
    </button>
    <br />
    <a
      mat-raised-button
      [routerLink]="['/register']"
      routerLinkActive="router-link-active"
      >Nemas nalog ? Registruj se
    </a>
  </div>
</div>
