<div class="main">
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Enter your username</mat-label>
      <input matInput [formControl]="username" required />
      <mat-error *ngIf="username.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [formControl]="password" required />
      <mat-error *ngIf="password.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">Log In</button>
    <br>
    <a mat-raised-button [routerLink]="['/register']" routerLinkActive="router-link-active" >Nemas nalog ? Registruj se </a>
  </div>
</div>
