.main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  height: 90%;
}

.example-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    
    width: 500px;
    height: 400px;
}
