<mat-tab-group>
  <mat-tab label="Predmeti">
    <ul *ngFor="let p of student.pohadjanjePredmeta">
      <li>{{ p.realizacijaPredmeta.predmet }}</li>
    </ul>
  </mat-tab>
  <mat-tab label="Obavjestenja">
    <div *ngFor="let o of student.pohadjanjePredmeta; let i = index">
      <ul *ngFor="let a of o.realizacijaPredmeta.obavjestenje; let j = index">
        <div class="border-div">
          <li>{{ a.naslov }}</li>
          <li>{{ a.vremePostavljanja }}</li>
        </div>
      </ul>
    </div>
    <!-- <button (click)="prikazi()">d</button> -->
  </mat-tab>
  <mat-tab label="Prijava ispita">Prijavi ispit</mat-tab>
  <mat-tab label="Ostalo">
    Istorija studiranja (prethodni polozeni predmeti, bodovi itd...)
  </mat-tab>
</mat-tab-group>
