.example-container {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(193, 193, 218, 1) 0%,
    rgba(31, 157, 182, 1) 62%,
    rgba(82, 141, 228, 1) 100%
  );
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

.content {
  padding: 20px;
}
