<mat-tab-group>
  <mat-tab label="Predmeti">
    <h2>Profesora/profesorice {{ nastavnik.licniPodaci.ime }} predmeti:</h2>

    <table mat-table [dataSource]="dataSourcePredmeti" class="mat-elevation-z8">
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef>Naziv</th>
        <td mat-cell *matCellDef="let element">{{ element.naziv }}</td>
      </ng-container>

      <ng-container matColumnDef="espb">
        <th mat-header-cell *matHeaderCellDef>ESPB</th>
        <td mat-cell *matCellDef="let element">{{ element.espb }}</td>
      </ng-container>

      <ng-container matColumnDef="brojPredavanja">
        <th mat-header-cell *matHeaderCellDef>Broj predavanja</th>
        <td mat-cell *matCellDef="let element">
          {{ element.brojPredavanja }}
        </td>
      </ng-container>

      <ng-container matColumnDef="brojVezbi">
        <th mat-header-cell *matHeaderCellDef>Broj vezbi</th>
        <td mat-cell *matCellDef="let element">{{ element.brojVezbi }}</td>
      </ng-container>
      
      <ng-container matColumnDef="istrazivackiRad">
        <th mat-header-cell *matHeaderCellDef>Istrazivacki rad</th>
        <td mat-cell *matCellDef="let element">
          {{ element.istrazivackiRad }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPredmeti"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsPredmeti"></tr>
    </table>
  </mat-tab>
  <!-- SILABUS -->
  <mat-tab label="Silabusi">
    <div *ngFor="let i of dataSourceSilabus; index as a" class="ngTable">
      <h3>Silabus za predmet {{ predmeti[a].naziv }}</h3>
      <table
        mat-table
        [dataSource]="dataSourceSilabus[a]"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="opis">
          <th mat-header-cell *matHeaderCellDef>Opis</th>
          <td mat-cell *matCellDef="let element">
            {{ element.opis }}
          </td>
        </ng-container>

        <ng-container matColumnDef="nedelja">
          <th mat-header-cell *matHeaderCellDef>Nedelja</th>
          <td mat-cell *matCellDef="let element">
            {{ element.nedelja }}
          </td>
        </ng-container>

        <ng-container matColumnDef="akcije">
          <th mat-header-cell *matHeaderCellDef>Akcije</th>
          <td mat-cell *matCellDef="let element">
            <a
              [routerLink]="['/nastavnik-panel/addedit', element.id]"
              routerLinkActive="router-link-active"
              ><button mat-raised-button color="primary">Edit</button></a
            >
            <button mat-raised-button color="warn">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsSilabus"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsSilabus"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Ishod">
    Kreiranje ishoda po terminima (raspored ishoda termina je realizovan kao
    vremenska linija pri cemu svaki ishod ima naslov, kratak komentar i
    sliku</mat-tab
  >
  <mat-tab label="Definicija evaluacije">
    <div *ngFor="let i of dataSourceSilabus; index as a" class="ngTable">
      <h3>Silabus za predmet {{ predmeti[a].naziv }}</h3>
      <table
        mat-table
        [dataSource]="dataSourceDefEv[a]"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">
            {{ element.id }}
          </td>
        </ng-container>

        <ng-container matColumnDef="realizacijaPredmeta.predmet.naziv">
          <th mat-header-cell *matHeaderCellDef>Naziv predmeta</th>
          <td mat-cell *matCellDef="let element">
            {{ element.realizacijaPredmeta.predmet.naziv }}
          </td>
        </ng-container>

        <ng-container matColumnDef="trajanjeUMinutima">
          <th mat-header-cell *matHeaderCellDef>Trajanja evaluacije znanja u minutima</th>
          <td mat-cell *matCellDef="let element">
            {{ element.trajanjeUMinutima}}
          </td>
        </ng-container>

        <ng-container matColumnDef="vremePocetka">
          <th mat-header-cell *matHeaderCellDef>Vreme pocetka</th>
          <td mat-cell *matCellDef="let element">
            {{ element.vremePocetka }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vremeZavrsetka">
          <th mat-header-cell *matHeaderCellDef>Vreme zavrsetka</th>
          <td mat-cell *matCellDef="let element">
            {{ element.vremeZavrsetka }}
          </td>
        </ng-container>

        <ng-container matColumnDef="akcije">
          <th mat-header-cell *matHeaderCellDef>Akcije</th>
          <td mat-cell *matCellDef="let element">
            <a
              [routerLink]="['/nastavnik-panel/addedit', element.id]"
              routerLinkActive="router-link-active"
              ><button mat-raised-button color="primary">Edit</button></a
            >
            <button mat-raised-button color="warn">Delete</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsDefEv"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDefEv"></tr>
      </table>
    </div>
  </mat-tab>
  <mat-tab label="Upravljanje obavjestenjima">
    Upravljanje obavjestenjima za predmete kojima su angazovani
  </mat-tab>
  <mat-tab label="Pretraga">
    Pretraga studenata po : 1. Imenu 2. Prezimenu 3. Broju indeksa 4. Godina
    upisa 5. Prosecnoj oceni (Pretraga se vrsi na nivou fakulteta a nakon toga
    se vrsi filtriranje)
  </mat-tab>
  <mat-tab label="Podaci o studentima">
    Pregledanje podataka o studentima
    <ul>
      <li>Osnovne podatke</li>
      <li>Prosecnu ocenu i osvojeno ECTS tokom studiranja</li>
      <li>Upise studenata</li>
      <li>
        Polozene ispite (predmete), sa ocenom i brojem bodova za svaki ispit
      </li>
      <li>Neuspesna polaganja</li>
      <li>Prijavljenim ispitima</li>
      <li>Zavrsni rad studenata</li>
    </ul>
  </mat-tab>
  <mat-tab label="Uredjivanje ocjena">
    Da unose ocene za ispite za predmeta na kojima su angazovani kao
    prof/predavac (ocjene se mogu unijeti u roku od 15 dana od polaganja)
  </mat-tab>
</mat-tab-group>
