.main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  height: 90%;
}

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
